@use "../variables" as var;

header {
  position: fixed;
  top: 1.5rem;
  z-index: 2000;
  width: 100%;
}

.navbar {
  background-color: var.$brand-overlay;
  font-family: var.$font-heading;
  font-weight: 800;
  padding: 2rem !important;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  position: relative;
  z-index: 1000;

  // .navbar-brand {
  //   color: var.$brand-white;
  //   .navbar-sub-brand {
  //     color: var.$brand-coral;
  //   }
  // }

  .navbar-nav {
    width: 100%;
    justify-content: end;
    gap: 2.813rem;

    .nav-item {
      .nav-link {
        position: relative;
        display: inline-block;
        color: var.$brand-white;

        &::after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: var.$brand-red;
          position: absolute;
          bottom: -5px;
          left: 0;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.35s cubic-bezier(0.16, 1, 0.3, 1);
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }

        &.active::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-toggler .close-icon {
    display: none;
  }

  .navbar-toggler[aria-expanded="true"] .menu-icon {
    display: none;
  }

  .navbar-toggler[aria-expanded="true"] .close-icon {
    display: inline;
  }
}
