@use "../variables" as var;

.hero-wrapper {
  background-image: url("../../assets/banner.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  // height: 100vh;

  .container {
    display: flex;
    flex: 1;
    // height: 100%;
  }

  .grid-parent {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.9fr);
    width: 100%;

    .hero-content {
      background-color: var.$brand-overlay;
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      padding: 50px 40px;
      border: 4px solid var.$brand-white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .hero-eyeshadow {
        font-size: 1rem;
        font-family: var.$font-heading;
        font-weight: 800;
      }
      .hero-title {
        font-weight: 700;
        font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
        margin: 2.125rem 0 1.75rem 0;
      }

      .hero-btn {
        font-size: 1rem;
        font-weight: 700;
        font-family: var.$font-heading;
        padding: 0.625rem 2rem;
        background-color: var.$brand-red;
        border: 4px solid var.$brand-red;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var.$brand-white;
      }
    }
  }
}
