@use "../variables" as var;

.testimoninal-wrapper {
  margin-top: 2.5rem;
  row-gap: 3.125rem;

  .card-body {
    padding-left: 0;

    .card-title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var.$brand-white;
    }
    .card-text {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
      color: var.$brand-white;
    }
  }
}
