@use "../variables" as var;

.topic-content {
  margin-top: 2.188rem;

  .topics-list {
    font-size: 1.25rem;
    li {
      position: relative;
      margin-left: 2rem;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1.688rem;
      }
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: red;
        position: absolute;
        left: -2rem;
        top: 3px;
      }
    }
  }
  .topic-image {
    height: auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    width: 88px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='88' height='60' viewBox='0 0 88 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='80' width='8' height='60' fill='%23FFCA28'/%3E%3Crect y='60' width='8' height='80' transform='rotate(-90 0 60)' fill='%23FFCA28'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}
