// Brand colors
$brand-charcoal: #181e1e;
$brand-red: #e63946;
$brand-coral: #ff6864;
$brand-yellow: #ffca28;
$brand-white: #ffffff;
$brand-black: #000000;
$brand-overlay: #00000080;

// Font families
$font-heading: "Inter", sans-serif;
$font-body: "Alegreya", serif;
