// Custom variables
@use "variables.scss";

// General app base styles
@use "base.scss";

// Brand Logo styles
@use "brandLogo.scss";

// Hero section
@use "./sections/hero.scss";

// Header section
@use "./sections/header.scss";

// Topics section
@use "./sections/topics.scss";

// Topics section
@use "./sections/statistics.scss";

// Header section
@use "./sections/footer.scss";

// RESPONSIVE MEDIA QUERY
@use "./responsive.scss";
