@use "./variables" as var;

@media (max-width: 1199.98px) {
  .topic-content {
    &::after {
      right: -1rem;
    }
  }

  .stats-content {
    &::before {
      left: -1rem;
    }
  }
}

@media (max-width: 991.98px) {
  // HERO START//
  .hero-wrapper {
    .grid-parent {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 0.9fr);

      header {
        grid-column: 1/3;
      }

      .hero-content {
        grid-column: 2/3;
      }
    }
  }
  // HERO END//

  // TOPICS START //
  .topic-content {
    .topic-image {
      height: 100%;
    }
  }
  // TOPICS END //

  // POSTS START //
  .post-column:last-child:nth-child(odd) {
    flex: 0 0 100%;
    max-width: 100%;

    .card-img-top {
      height: 200px;
      object-fit: cover;
      width: 100%;
    }
  }
  // POSTS END //
}

@media (max-width: 767.98px) {
  // HEADER START //

  .navbar {
    padding: 1.5rem 2rem !important;
    .navbar-nav {
      gap: 1rem;
    }
  }
  .navbar-toggler {
    width: 2rem;
    height: 2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var.$brand-overlay;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    padding: 1.5rem 2rem !important;
    z-index: 1001;
    display: block !important;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.3s ease,
      visibility 0.3s;

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translateY(35%);
    }
  }
  // HEADER END

  // POSTS START //
  .post-column:last-child:nth-child(odd) {
    .card-img-top {
      height: unset;
    }
  }
  // POSTS END //
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 2rem !important;
  }

  // HERO START//
  .hero-wrapper {
    height: unset;
    .grid-parent {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

      header {
        grid-column: 1/2;
      }

      .hero-content {
        grid-column: 1/2;
        grid-row: 2/3;

        .hero-title {
          margin: 1.5rem 0 2.313rem 0;
        }
      }
    }
  }
  // HERO END//

  // TOPIC START //
  .topic-content {
    &::after {
      right: 2rem;
    }
  }
  // TOPIC END //

  // STAISTICS START //
  .stats-content {
    &::before {
      left: 2rem;
    }
  }

  // STAISTICS END //

  // FOOTER START //
  .copyright {
    margin-top: 2.625rem;
  }
  // FOOTER END //
}
